body {
    margin: 0;
    font-family: Garamond, serif;
    color: #000000;
    background-color: #e1e0e2;
}

.pop-up {
    display: none;
    display: 
}

.close {
    color: #aaa;
    float: right;
    font-size: 28px;
    font-weight: bold;
}