:root {
    --wood-dark: #9B8579;
    --wood-medium: #BEB0A7;
    --wood-light: #D5CAC3;
    --background: #F3EFE9;
    --word-color: #645A52;
    --accent: #E6DDD3;
}

body{
    background-color: var(--background);
    color: var(--word-color);
}

.social-icon{
    width: 50px;
    height: 50px;
}